.App {
  text-align: center;
}

form{
  margin: 30px;
}

table{
  width: 400px;
  border: 2px solid;
  padding: 50px;
  margin: auto;
}

th{
  background-color: aqua;
  border: 1px solid black;
  padding: 2px;
}

td{
  border: 1px solid;
}